@font-face {
  font-family: 'gothamBold';
  src: url("../fonts/GothamBold.otf");
}

body {
  background-color: #e2e2e2;
  font-family: gothamBold, Arial, sans-serif;
  color: #7c7c7c;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  width: 60%;
  margin: auto;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  overflow: hidden;
}

.container .centered {
  text-align: center;
}

button {
  font-family: gothamBold, Arial, sans-serif;
  font-size: .9rem;
  border: none;
  padding: .6rem 0;
}

.menu-bar {
  width: 60%;
  margin: auto;
  height: 4em;
  background-color: #fcfcfc;
  display: grid;
  grid-template-columns: 1fr 10% 1.4rem;
  align-items: center;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}

.menu-bar .products {
  padding-left: 1.4rem;
  font-size: 1.4em;
  cursor: pointer;
}

.menu-bar .basket-icon {
  justify-self: center;
  grid-column: 2/3;
  grid-row: 1/1;
  cursor: pointer;
}

.menu-bar .item-count {
  font-size: 0.9em;
  background-color: #ffffff;
  border: 1px solid #f06868;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  justify-self: center;
  line-height: 1.5rem;
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/1;
  cursor: pointer;
}

.sub-menu {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  width: 60%;
  margin: auto;
  height: 2em;
  background-color: #fcfcfc;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}

.sub-menu .sub-menu-item {
  padding-left: 1.4em;
}

.items {
  padding: 1rem 1.4rem;
}

.item:last-child {
  border: none;
}

.item {
  display: grid;
  grid-template-columns: 10% 45% 10% 25% 10%;
  align-items: center;
  padding: .8rem 0;
  border-bottom: 1px dashed #ddd;
}

.item .item-image {
  justify-self: center;
}

.item .title {
  padding: .5em;
}

.item .number-box {
  color: #969696;
  font-family: gothamBold, Arial, sans-serif;
  font-size: 1em;
  height: 1.4em;
  text-align: center;
  border: 1px solid #dad9d9;
  border-radius: 3px;
}

.item .number-box::-webkit-outer-spin-button, .item .number-box::-webkit-inner-spin-button {
  display: none;
}

.item .number-box:hover {
  box-shadow: 0px 0px 3px #cecece;
  border-color: #5cb2e1;
  cursor: pointer;
}

.item .total-price {
  color: #f06868;
  justify-self: end;
  padding-right: 3%;
}

.item .delete-item {
  justify-self: center;
  color: #bfbfbf;
  cursor: pointer;
}

.total-container {
  display: grid;
  grid-template-columns: 1fr .5fr .9fr;
  background-color: whitesmoke;
  border-top: 1px solid #e2e2e2;
  padding: 1.4rem 1.4rem;
}

.total-container .total {
  font-size: 1.4rem;
  align-self: center;
}

.total-container .check-out {
  background-color: #5cb2e1;
  color: white;
  border-radius: 2px;
}

.total-container .clear {
  background-color: whitesmoke;
  color: #777777;
  cursor: pointer;
}

.product {
  display: grid;
  grid-template-columns: .25fr 1fr;
  padding: 1.4rem 1.4rem;
  border-bottom: 1px solid #c9c9c9;
  justify-content: center;
}

.product .image {
  justify-self: center;
  align-self: center;
}

.product .description {
  padding-left: 1.2em;
  display: grid;
  align-items: center;
}

.product .description .title {
  font-size: .8em;
}

.product .description .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: space-evently;
}

.product .description .buttons .productButton {
  background-color: #5cb2e1;
  font-size: .7em;
  color: white;
  border-radius: 2px;
  margin-right: .5em;
  padding: .3em .5em;
  cursor: pointer;
}

@media screen and (max-width: 554px) {
  .menu-bar {
    width: 90%;
    margin: auto;
  }
  .sub-menu {
    width: 90%;
    margin: auto;
  }
  .container {
    width: 90%;
    margin: auto;
    min-width: 352px;
  }
}
