@media screen and (max-width: 554px) {
  .container {   
    width: 90%;
    margin: auto;  
    min-width: 352px;
  }

  .menu_bar {
      width: 90%;
      margin: auto;
  }
  .sub_menu {
    width: 90%;
    margin: auto;
  }
}  